.bg-nav{
    background-color: #826d5a;
    color: #77583c;
    border-radius: 25px;
    opacity: 0.9;

}

.icn{
    width: 35px;
}

.textxx{
    font-size: 200px;
    color: white;
    font-weight: bold;
    /* text-align: center; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.textxxx{
    font-size: 60px;
    color: white;
    font-weight: bold;
    /* text-align: center; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

 