<nav class="navbar navbarx navbar-expand-lg navbar-dark">
  <div class="navcontainer">
    <a class="navbar-brand" href="#home">
      <img src="../../Africa_icon.png" class="icn" alt="nop"> <span>Gastrodiplomacy</span>
    </a>

    <hr>

    <!-- Hamburger icon visible on small screens -->
    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>

    <div class="navbar-nav ms-auto" [class.active]="menuOpen">
      <a class="nav-link active" aria-current="page" href="#home">Home</a>
      <a class="nav-link" href="#Introduction">Introduction</a>
      <a class="nav-link" href="#jollofrice">Jollof rice</a>
      <a class="nav-link" href="#Savoring">Global Influence</a>
      <a class="nav-link" href="#Recipe">Recipe</a>
      <a class="nav-link" href="#Reference">Reference</a>
      <a class="nav-link" href="#Conclusion">Conclusion</a>
    </div>
  </div>
</nav>


  


  <div class="home">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="home">
      <div class="hometext">
        <h1 class="textxx">Homepage</h1>
      <p class="textxxx">
        Welcome to my final project 
      </p>
      </div>
      <!-- <img class="homeimg" src="../../assets/img/1000410673.png" alt=""> -->
  
    </section>
  </div>
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Introduction">
    <div class="row ">
      <div class="col-md-6 col-sm-12">
        <h1 class="textxx text-start">Introduction</h1>
        <p class="introp">
        Food is more than flavor; it’s a language of power. Food isn’t just eaten; it’s negotiated, weaponized, and celebrated as cultural currency. In West Africa, dishes like Jollof rice tell stories of togetherness, national pride, friendly rivalry, and global ambition. Gastrodiplomacy is how nations wield cuisine to build influence, from embassy dinners where friendship with the host notion and a positive image are sealed over shared meals to viral Twitter wars over whose Jollof reigns supreme. All those constitute a cultural influence or appeal classified as soft power. 
        </p>
        <br>
        <p class="introp">Explore the intersection between  Gastrodiplomacy, West Africa’s cuisine, and Soft power.</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <img class="introimg" src="../../assets/img/d-removebg-preview.png" alt="intro img">
      </div>
    </div>
    <!-- <div class="carousel-wrapper my-4">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/096b61ce2f0132739758293ede236fee.jpg" class="d-block w-100 carousel-img" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/c285142b-9388-4fe6-bc71-b4954a787e8e.png" class="d-block w-100 carousel-img" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/2983d2135d00d628f2be383a3d42334f.jpg" class="d-block w-100 carousel-img" alt="Slide 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div> -->
  </section>
  
  
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="jollofrice">
    <h1 class="textxx">Jollof rice </h1>
    <p class="textxxx">
      The Jollof Rice debate is a long-standing one
    </p>
    <div class="video-container">
      <video controls class="custom-video">
        <source src="../../assets/videos/vid1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </section>
  
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Savoring">
        <h1 class="textxx">Savoring Global Influence </h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section>
  <div class="Recipe">
    <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Recipe">
      <div class="recipetext">
        <h1 class="textxx text-center">Recipe</h1>
      <p class="textxxx">
        The Jollof Rice debate is a long-standing one
      </p>
      </div>
    </section>
  </div>
  <section class="Recipe-description container pt-5 min-vh-100" data-aos="zoom-in">
    <div class="row gap-5">
      <div class="col-12">
        <p class="fs-3">The Jollof rice recipe is extremely diverse, as each West African country has its own variation, and the dish is very flexible to the point that anyone can add their personal touch to it. In every variety of the region, the primary components are still tomatoes, pepper, oil, and spices.</p>
        <span class="fs-2">In this section, we will talk about two variations.</span>
        <h3 class="h2 my-5">1-Ghana Jollof Variation</h3>
        <p class="fs-3">The particularity about Ghana Jollof is its colorfulness, flavor, texture, and aroma. Ghanaians tend to make their Jollof foundation stew less liquid and prepare the Jollof with heat instead of a lot of water because they dislike their rice being overly soft. So Ghana jollof is neither too hard or soft. 
          Ghana Jollof is typically served with coleslaw or a salad, paired with the well-known black chili sauce (called “shito”) or the green variation (called “Kpapishito”) that accompanied  every Ghanaian’s food. Pairing it with fried plantain in not uncommon 
          It goes well with chicken, beef, goat, sausage, gizzards or tilapia fish whether fried or grilled.  However, in the Ghanaian Assorted form of Jollof rice, some of the various proteins specified are diced and added to the Jollof rice pot five minutes before it is turned off the heat, along with chopped vegetables (green pepper, carrot, spring onion, etc.).
          The following recipe will be a standard version of Ghana Jollof.
          </p>
      </div>
      <div class="col-12">
        <img class="w-100 " src="../../assets/img/recipe/photo_2025-04-12_17-52-19.jpg" alt="recipe-1">
        <span class="fw-bold d-block my-4">Click the following YouTube link for more details:</span>
        <button class="btn btn-secondary w-100"><a class="link-light" href="https://youtu.be/3XU4PNMzbQo" target="_blank">Details</a></button>  
      </div>
      <div class="col-12">
        <h3 class="w-100">Notes:</h3>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-31.jpg" alt="rNote1">
            </figure>
            <span>1-Black “Shito”</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-30.jpg" alt="rNote2">
            </figure>
            <span>2-Green “”Shito”</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-25.jpg" alt="rNote3">
            </figure>
            <span>3-Fried plantain</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h3 class="h2 my-5">2-Benin Jollof  Variation </h3>
        <p class="fs-3">Jollof rice is popularly known as “Riz au gras” in Benin. The difference with the Ghanaian variation is the fact that the stew base is a little more watery.</p>
        <p class="fs-3">It is typically consumed with “Jus,” a chopped onion stew or a combination of chopped onion and tomato stew. For people who can handle a lot of spiciness, they occasionally add ground seasoned pepper. Beninese people have preferences fried fish, turkey, and traditional cheeses called “Wagashi” or “Fromage Peulh,” but “Riz au gras”  can be served with any protein.</p>
        <p class="fs-3">During special occasions or celebrations, it can be accompanied with a potato salad known as “Hors d’oeuvre.”</p>
        <span class="fs-2 mt-5">Benin jollof recipe is very simple.</span>
      </div>
      <div class="col-12">
        <img class="w-100 " src="../../assets/img/recipe/photo_2025-04-12_17-52-22.jpg" alt="recipe-1">
        <span class="fw-bold d-block my-4">Video for reference: </span>
        <button class="btn btn-secondary w-100"><a class="link-light" href="https://youtu.be/OjdFrKic8AY?feature=shared" target="_blank">Details</a></button>  
      </div>
      <div class="col-12">
        <h3 class="w-100">Notes:</h3>
        <div class="row">
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-24.jpg" alt="rNote1">
            </figure>
            <span>1-“Wagashi”.</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-27.jpg" alt="rNote2">
            </figure>
            <span>2- “Jus de tomate et onion”</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-29.jpg" alt="rNote3">
            </figure>
            <span>3- Hors d’oeuvre</span>
          </div>
          <div class="col-md-6 col-sm-12 mb-2">
            <figure class="w-100">
              <img class="w-100" src="../../assets/img/recipe/photo_2025-04-12_17-52-26.jpg" alt="rNote4">
            </figure>
            <span>4-Jus d’oignon</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Reference">
        <h1 class="textxx">References</h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section>
  <!-- <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="debate">
        <h1 class="textxx">Jollof digital debate</h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section>
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="opinions">
        <h1 class="textxx">Expert opinions</h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section>
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Recipe">
        <h1 class="textxx">Jollof Recipe</h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section>
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Reference">
        <h1 class="textxx">Reference</h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section> -->
  <section data-aos="zoom-in" class="container pt-5 min-vh-100" id="Conclusion">
        <h1 class="textxx">Conclusion</h1>
        <p class="textxxx">
          The Jollof Rice debate is a long-standing one
        </p>

    
  </section>